[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
asyncpg = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
alembic = "*"

[requires]
python_version = "3.12"
