.chat-app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.status {
  font-size: 0.8em;
  font-weight: normal;
}

.chat-container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.messages-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #f5f5f5;
  width: 100%;
}

.messages {
  flex: 3;
  overflow-y: auto;
  padding: 10px;
  background: #ffffff;
  /* Added background color for better visual separation */
}

.users {
  flex: 1;
  background: #f0f0f0;
  padding: 10px;
  overflow-y: auto;
  border-left: 1px solid #ddd;
  /* Added border for better separation */
}

.chat-form {
  display: flex;
  padding: 10px;
  background: #f5f5f5;
}

.chat-form textarea {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  /* Added border for better visual */
}

.chat-form button {
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.chat-form button:hover {
  background: #0056b3;
}